@import "../vars.css";

.navbar {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.navbar-brand {
  display: flex;
}

.navbar-toggler {
  background-color: var(--secondary-bg);
}

.navbar-nav {
  display: flex;
  justify-content: end;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
}

.nav-dropdown {
  display: flex;
  align-items: center;
}
